.home {
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.home .column {
  width: 33.33%;
  margin: 20px;
}

.droppable-col {
  width: 100%;
  /* background: grey; */
  /* margin: 10px 10px 0 10px; */
  display: flex;
  flex-direction: column;
  border-radius: 7px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
}

.item {
  /*margin-bottom: 10px;
  */
  margin: 5px 0;
  /* border: 1px solid white; */
  padding: 10px;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 3.8px 11.7px rgb(0, 0, 0, 32%), 0 72px 85px rgba(0, 0, 0, 0.27);
  word-break: break-word;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.item.dragging {
  background-color: #e7f4fa;
}
.todoinput {
  display: flex;
  justify-content: center;
  align-items: center;
}
.todoinput > input {
  padding: 10px;
  /*padding-bottom: 5px;
  */
  width: 300px;
  border: none;
  border-radius: 100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  -o-border-radius: 100px;
  margin: 0 10px;
  -webkit-border-radius: 5p;
}
.todoinput > input:focus {
  outline: none;
}
.todoinput > button {
  padding: 10px;
  background: #7852ff;
  color: #fff;
  border: none;
  font-weight: bold;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  margin: 0 10px;
}

@media screen and (max-width: 520px) {
  .home {
    flex-direction: column;
  }
  .home .column {
    width: auto;
    margin: 20px;
  }
}
